@{
    ViewBag.Title = "UploadData";
    var BulkUploadMsg = ViewBag.BulkUploadMsg;
}



<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h4 style="color:#525252;font-weight:700;">Upload Excel Data</h4>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        @*<form action="upload.php" method="post" enctype="multipart/form-data">
                Select image to upload:
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Upload Image" class="btn btn-primary btn-md" name="submit">
            </form>*@

        @using (Html.BeginForm("UploadData", "BulkUpload", FormMethod.Post, new { enctype = "multipart/form-data", id = "formBulkUpload" }))
        {
            <div class="form-group">
                <input type="file" name="fileToUpload" id="fileToUpload">
            </div>

            <input id="btnFileUpload" type="submit" value="Upload" class="btn btn-primary" />
        }
    </div>

</div>

@if (BulkUploadMsg != null)
{
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h5 style="color:#525252;font-weight:700;">@BulkUploadMsg</h5>
            </div>
        </div>

    </div>
}



@*@section Scripts {

        <script>
            $(document).on("click", "#btnFileUpload", function () {
                debugger;
            //var documentID = parseInt($("#DId").val());
                alert("test File Upload button click");

                //$("#formBulkUpload").submit();

                var fileUpload = $("#SingleFile").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                fileData.append('SingleFile', 'File');
                $(this).data("singlefileupload", fileData);

                    $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UploadData", "BulkUpload")',
                        data: { SingleFile: SingleFile},
                            beforeSend: function () {
                                $("#cover-spin").show();
                            },
                            complete: function () {
                                setTimeout(function () { $("#cover-spin").hide(); }, 1000);
                            },
                        success: function (data) {
                                setTimeout(function () { $("#cover-spin").hide(); }, 1000);
                                if (data == null) {
                                    alert("Something Wrong Try Again!")
                                } else {
                                    alert("All document records have been approved!");

                                }
                            }
                        })
                });
        </script>

    }*@
@*@model Search_n_View.ExcelFileUploadModel

    @{
        ViewBag.Title = "Upload Excel";
    }

    <h2>Upload Excel File</h2>

    @using (Html.BeginForm("UploadExcel", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.ExcelFile, htmlAttributes: new { @class = "control-label" })
            @Html.InputFor(model => model.ExcelFile, new { type = "file", @class = "form-control" })
        </div>

        <input type="submit" value="Upload" class="btn btn-primary" />
    }

    <div>
        @ViewBag.Message
    </div>*@



