@model Search_n_View.ViewModels.ManageItemTypeViewModel
@{
    ViewBag.Title = "Manage Pharmacies";
}

@section styles {
    <style>
        td .btn-primary, .btn-danger {
            padding: .175rem .55rem;
        }
    </style>
}
<div>
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-list-alt"></i> Pharmacy
                <div class="card-header-actions">
                    <a class="btn btn-info" href="@Url.Action("Create", "ItemType")">
                        <i class="fa fa-plus"></i> Add Pharmacy
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-responsive-sm datatable">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Department</th>
                            <th class="text-center">AddedBy</th>
                            <th class="text-center">AddedDate</th>
                            <th class="no-sort text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var Item in Model.ItemType)
                        {
                           if (Item.Name != "All")
                            {
                                <tr>

                                    <td class="text-center">@Item.Name</td>

                                    <td class="text-center">@Item.DepartmentName</td>

                                    <td class="text-center">@Item.CreatedBy</td>

                                    <td class="text-center">@Item.AddedTime.ToString("dd MMM yyyy HH:mm")</td>


                                    <td class="text-center">
                                        <a class="btn btn-primary" title="Edit" href="@Url.Action("Edit", "ItemType", new { Id = Item.Id })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
